
{% extends "base.html" %}

{% block content %}
    <form
      id="acc-form"
      method="POST"
      {% if is_logged_in %}
      action="/account"
      {% else %}
      action="/register"
      {% endif %}
    >

      <div class="error">That did not work</div>

      <div class="form-row">
        <div class="form-cell">
          <label for="name"> Name </label>
          <input
            autofocus
            type="text"
            id="name"
            name="name"
            class="login_text"
            {% if is_logged_in %}
            value="{{user.name}}"
            {% endif %}
          />
        </div>
        <div class="form-cell">
          <label for="email"> Email </label>
          <input
            autofocus
            type="email"
            id="email"
            name="email"
            class="login_text"
            {% if is_logged_in %}
            value="{{user.email}}"
            {% endif %}
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-cell">
          <label for="password"> Password </label>
          <input autofocus type="password" id="password" name="password" class="login_text" />
        </div>
        <div class="form-cell">
          <label for="pwd_repeat"> Repeat </label>
          <input autofocus type="password" id="pwd_repeat" name="pwd_repeat" class="login_text" />
        </div>
      </div>

      <div class="bar-divider"/>

      <div class="form-row">
        <div class="form-cell">
          <div class="form-row">
            <div class="form-cell">
              <label for="card"> Card Number </label>
              <input
                autofocus
                type="text"
                id="card_number"
                name="card_number"
                class="login_text"
                {% if is_logged_in %}
                value="************{{user.card_number[12:]}}"
                {% endif %}
              />
            </div>
            <div class="form-cell">
              <label for="card_expiration"> Expire Date (MM/YYYY) </label>
              <input
                autofocus
                type="text"
                id="card_expiration"
                name="card_expiration"
                class="login_text"
                {% if is_logged_in %}
                value="{{user.card_expiration_m}}/{{user.card_expiration_y}}"
                {% endif %}
              />
            </div>
          </div>
        </div>
      </div>
      <div class="form-row growcenter">
        <div class="buy_button" onclick="document.getElementById('acc-form').submit();">
          SAVE CHANGES
        </div>
      </div>
    </form>

{% endblock %}
