{% extends "base.html" %}

{% block content %}
  Queued admin actions. Press 'execute' to perform changes.<br/>
  Please review carefully!
  <br/><br/>
  <div class="admin-queue">
    {% if not queue %}
    queue empty
    {% endif %}

    {% for item in queue %}
    <div class="form-row" style="flex-grow: 0; padding: 2px;">
      <div style="width: 180px"> {{item.id}} </div>
      <div style="flex-grow: 1;font-size: 12px;">{
      {% for key in item if key != 'id'%}
        <strong>{{key}}</strong>:&nbsp;"{{item[key]}}",&nbsp;
      {% endfor %}
      }</div>
    </div>
    {% endfor %}
  </div>
  <div class="growcenter" style="flex-direction: row">
    <div class="buy_button" onclick="window.location.pathname='/execute-queue'">
      EXECUTE
    </div>
    <div class="buy_button" onclick="window.location.pathname='/clear-queue'">
      CLEAR
    </div>
  </div>
  <br/><br/>

  <div class="form-row" style="font-weight: bold">
    Reset user password
  </div>
  <form class="form-row" id="reset_password">
    <div class="form-cell">
      <label> Email </label>
      <select name="user_id" class="login_text">
        {% for user in users %}
          <option value="{{user.id}}">
            {{user.email}}
            {{ ' (admin)' if user.admin else '' }}
          </option>
        {% endfor %}
      </select>
    </div>
    <div class="form-cell">
      <label> New password </label>
      <input type="text" name="new_password" class="login_text" />
    </div>
    <div class="form-cell growcenter">
      <div class="buy_button" onclick="send_task('reset_password')">
        RESET
      </div>
    </div>
  </form>

  <div class="bar-divider">&nbsp;</div>

  <div class="form-row" style="font-weight: bold">
    Promote / Demote user to admin
  </div>
  <form class="form-row" id="promote_demote">
    <div class="form-cell">
      <label> Email </label>
      <select name="user_id" class="login_text">
        {% for user in users %}
          <option value="{{user.id}}">
            {{user.email}}
            {{ ' (admin)' if user.admin else '' }}
          </option>
        {% endfor %}
      </select>
    </div>
    <div class="form-cell growcenter">
      <div class="buy_button" onclick="send_task('promote_demote', {admin: true})">
        PROMOTE
      </div>
    </div>
    <div class="form-cell growcenter">
      <div class="buy_button" onclick="send_task('promote_demote', {admin: false})">
        DEMOTE
      </div>
    </div>
  </form>

  <div class="bar-divider">&nbsp;</div>

  <div class="form-row" style="font-weight: bold">
    Pause / Unpause product
  </div>
  <form class="form-row" id="pause_unpause">
    <div class="form-cell">
      <label> Product ID </label>
      <select name="product_id" class="login_text">
        {% for prod in products %}
          <option value="{{prod.id}}"> {{prod.id}} - {{prod.name}} </option>
        {% endfor %}
      </select>
    </div>
    <div class="form-cell growcenter">
      <div class="buy_button" onclick="send_task('pause_unpause', {pause: true})">
        PAUSE
      </div>
    </div>
    <div class="form-cell growcenter">
      <div class="buy_button" onclick="send_task('pause_unpause', {pause: false})">
        UNPAUSE
      </div>
    </div>
  </form>

{% endblock %}
