<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <script src="/static/js/tags.js" ></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,800,900" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet"> -->
    {% block head %}{% endblock %}
    <title>BlindGuard{% block title %}{% endblock %}</title>
</head>
<body>
  <div id="outer-content">
    <div id="inner-content">
      <div id="logo-header">
        <img src="/img?file=img/logo.png&width=200" onclick="window.location.pathname='/'" />
        <div>
          {% if is_logged_in %}
            Hi {{user.name}}! <a href="/logout" > Logout </a>
            <a href="/account" > My Account </a>
          {% else %}
            <a href="/login" > Login </a>
            <a href="/register" > Register </a>
          {% endif %}

          {% if is_admin %}
          <a href="/admin" style="color: red;font-weight: bold;"> [ADMIN PANEL] </a>
          {% endif %}
        </div>
      </div>
      {% block banner %} {% endblock %}
      <div id='contents'>
        {% block content %} {% endblock %}
      </div>
    </div>
  </div>
  <script src="/static/js/basic.js" ></script>
</body>
</html>
