
{% extends "base.html" %}

{% block content %}
  <div id="buy-title"> Your purchase </div>

  <form id="buy-form" method="GET" action="/start-purchase">
    <input type="hidden" name="id" value="{{product.id}}" />
    <div class="purchase-item-container">
      <img src="/img?file=img/{{product.id}}.png&width=50" />
      <div class="purchase-item-info">
        <div class="purchase-info-name"> {{product.name}} </div>
        <div class="purchase-info-other"> #{{product.id}} </div>
        <div class="purchase-info-other"> Downloadable version </div>
        <div class="purchase-info-price"> Unit price: ${{product.price}} </div>
      </div>
    </div>

      <div class="total-info">
        <div class="buy-button-container">
          <div class="buy_button" onclick="document.getElementById('buy-form').submit();">
            FINISH PURCHASE
          </div>
        </div>
        <div class="total-info-inner">
          <div> Subtotal: ${{'%0.2f' % product.price}} </div>
          <div > Tax: <span id="taxtotal">loading...</span> </div>
          <div  class="grand-total"> Grand Total: <span id="grandtotal">loading...</span> </div>
        </div>
      </div>
    <form>

    <script>
      $.get('/calc-taxes?v={{product.price}}', function( data ) {
        try {
          const tax = parseFloat(data);
          $("#taxtotal").html('$' + String(tax.toFixed(2)));
          $("#grandtotal").html( '$' + String((tax + {{product.price}}).toFixed(2)) );
        } catch(e) { }
      });
    </script>
{% endblock %}
