
{% extends "base.html" %}

{% block content %}
  <form id="login-form" method="POST" action="/login">
    <div id="login-container">
      <div class="error">That did not work</div>
      <div class='inner'>
        <label for="user"> EMail </label>
        <input type="text" id="user" name="user" class="login_text" />
        <label for="pwd"> Password </label>
        <input type="password" id="pwd" name="pwd" class="login_text" />
        <div class="buy_button" onclick="document.getElementById('login-form').submit();">
          LOGIN
        </div>
      </div>
      <div>
      <a href="/register"> REGISTER </a>
      </div>
    </div>
  </form>

{% endblock %}
