{% extends "base.html" %}
{% block banner %}
  <img class="banner" src="/img?file=img/banner.png&width=800px"/>
{% endblock %}
{% block content %}
  <div id="showcase-container">
    {% for prod in products %}
      <div class="item-container {% if prod.paused %}paused{% endif %}">
        <div class="item-header"> {{prod.id}} </div>
        <div class="item-image">
          <img src="/img?file=img/{{prod.id}}.png&width=80" />
          {% if prod.paused %}
            <div> UNAVAILABLE </div>
          {% endif %}
        </div>
        <div class="divider">
          {% for point in prod.selling_points %}
            <div> • {{point}} </div>
          {% endfor %}
        </div>
        <div class="button_container">
          <div
            class="buy_button"
            {% if not prod.paused %}
            onclick="window.location.pathname='/buy/{{prod.id}}'"
            {% endif %}
          >
            BUY (${{prod.price}})
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <br/>
  <div> Some of our happy customer comments:</div>
  <br/>
  <div class="reviews" id="home-reviews">
  </div>

  <script>
    $.get('/product-review', function( data ) {
        const comments = JSON.parse(data);
        comments.map((v) => $("#home-reviews").append("<blockquote>"+v+"</blockquote>"))
    });
  </script>

{% endblock %}
