
{% extends "base.html" %}

{% block content %}
  <div id="buy-title"> Payment </div>
  <div>
    Fill in your credit card details to finish the purchase.<br/>
    If you wish to change your payment method, update your account information. <br/><br/><br/>
  </div>

    <form id="pay-form" method="POST" action="/pay">
      <div class='card-table'>
        <div class='card'>
          <div class='card-upper-half'>
            <img src="/img?file=img/chip.png&width=50"/>
          </div>
          <div class='card-row'>
            <div>****&nbsp;&nbsp;****&nbsp;&nbsp;****&nbsp;&nbsp;{{user.card_number[-4:]}}</div>
          </div>
          <div class='card-row'>
            <div>{{user.name}}</div>
            <div>{{user.card_expiration_m}}&nbsp;/&nbsp;{{user.card_expiration_y}}</div>
          </div>
        </div>
        <div class="growcenter">
          <label for="user"> CVV </label>
          <input autofocus style="width: 80px" type="text" id="cvv" name="cvv" class="login_text" />
          <div class="purchase-info-other">  3-digit code at the back of card</div>
          <div class="error">That did not work</div>
        </div>
      </div>

      <div class="total-info">
        <div class="buy-button-container">
          <div class="buy_button" onclick="document.getElementById('pay-form').submit();">
            FINISH PAYMENT
          </div>
        </div>
        <div class="total-info-inner">
          <div> Subtotal: ${{'%0.2f' % product.price}} </div>
          <div > Tax: ${{'%0.2f' % tax}} </div>
          <div  class="grand-total"> Grand Total: ${{'%0.2f' % total}} </div>
        </div>
      </div>
    </form>
{% endblock %}
