
{% extends "base.html" %}

{% block content %}
  <div class="thanks growcenter"> Thank You </div>
  <div class="purchase-info-other">
    You should receive an email with the download link shortly.<br/>
    Your transaction number is {{response.tid}}, please take note of it,
    it will be necessary in case you need support.<br/><br/>
    If you have any questions, call us at 888 456 7275 </div>
    <br/><br/><br/><br/>
  <div>
    It makes us happy to see a world without virus! Spread the word!<br/>
    Leave a commentary bellow!<br/><br/>
    <form id="commentary-form" action="product-review" method="post">
      <input type="hidden" name="product_id" value="{{product_id}}" />
      <textarea name="review" class="commentary-box" autofocus></textarea>
      <div class="growcenter">
        <div class="buy_button" onclick="document.getElementById('commentary-form').submit();">
          SEND COMMENT
        </div>
      </div>
    </form>
  </div>


{% endblock %}
