body {
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

a {
  color: black;
}

div#outer-content {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #f1edf2;
  display: flex;
  align-items: center;
  justify-content: center;

}

div#outer-content > div#inner-content {
  width: 100vw;
  max-width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

div#inner-content > div#logo-header {
  width: 100%;
  padding-top: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding-bottom: 12px;
}

div#logo-header > div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: 500;
}

#logo-header > img {
  cursor: pointer;
  align-self: center
}

img.banner {
  width: 100vw;
  max-width: 800px;
}

div#contents {
  padding: 10px;
  width: 100%;
  /* height: 100%; */
  background-color: white;
  border: 1px solid #EEE;
  border-radius: 6px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 12px;

  -webkit-box-shadow: 0px 0px 16px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 16px 2px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 16px 2px rgba(0,0,0,0.15);
}

div#showcase-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div#showcase-container > div.item-container {
  flex-grow: 1;
  min-width: calc(30% - 12px);
  max-width: calc(35% - 12px);
  margin-left: 6px;
  margin-right: 6px;
  display: flex;
  flex-direction: column;
  border: 1px solid #DDD;
}
div#showcase-container > div.item-container:hover {
  background-color: #f1edf2;
}
div.item-container.paused {
  background-color: transparent !important;
}
.item-container div.item-header {
  width: 100%;
  height: 30px;
  background-color: #b28096;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 200ms;
}
.item-container:hover div.item-header {
  background-color: black;
  color: white;
}
.item-container div.item-image {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 12px 0px 12px 0px;
  position: relative;
}

.paused .item-image > div {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: #A00;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.paused .item-image > img {
  filter: grayscale() blur(4px);
  opacity: 0.5;
}

.item-container div.divider {
  width: calc(100% - 16px);
  margin: 8px;
  border-top: 1px solid #DDD;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #DDD;
}

.item-container div.divider > div {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 80%;
}
.item-container div.button_container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.buy_button {
  background-color: #b28096;
  padding: 12px;
  font-size: 18px;
  margin: 6px;
  border-radius: 6px;
  cursor: pointer;
  color: black;
  transition: all ease-in-out 200ms;
}

.buy_button:hover {
  background-color: black;
  color: white;
}

.paused .item-header, .paused .buy_button {
  background-color: #DDD !important;
  color: #888 !important;
  cursor: not-allowed !important;
}

#buy-title {
  width: 100%;
  box-sizing: border-box;
  background: #b28096;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 15px;
  font-size: 20px;
}

.purchase-item-container {
  border-radius: 3px;
  padding: 20px;
  border: 1px solid #CCC;
  display: flex;
  flex-direction: row;
}

.purchase-item-info {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.purchase-info-name, .grand-total {
  font-size: 18px;
  font-weight: bold;
}

.purchase-info-other {
  font-size: 14px;
  font-weight: light;
  opacity: .8;
  padding-left: 10px;
}

.purchase-info-price {
  font-size: 14px;
  font-weight: bold;
  opacity: .8;
  padding-left: 10px;
}

.total-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.total-info-inner {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 20px;
  padding: 10px;
  border-top: 2px solid #AAA;
}

.total-info .buy-button-container, .growcenter {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

#login-container > .inner {
  border-radius: 3px;
  padding: 20px;
  border: 1px solid #CCC;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 10px;
}

.login_text {
  font-size: 20px;
  border-radius: 3px;
  padding: 8px;
  outline-width: 0px;
  border: 0px solid white;
  background-color: #EEE;
}

select.login_text {
  max-width: 280px;
  overflow: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 4px;
  font-size: 14px;
  color: #D22;
  border: 1px solid #D22;
  background-color: #FFF0F0;
  opacity: 0;
}

.card-table {
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  flex-direction: column;
  border: 4px solid #CCC;
  background-color: #EEE;
  padding: 20px;
  border-radius: 16px;
  width: 350px;
  height: 180px;
  -webkit-box-shadow: 4px 4px 11px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 4px 4px 11px 0px rgba(0,0,0,0.15);
  box-shadow: 4px 4px 11px 0px rgba(0,0,0,0.15);
}

.card > .card-upper-half {
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.card > .card-row {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #888;
  text-transform: uppercase;
  font-size: 20px;
  padding: 6px 0px 6px 0px;
}

.card > .card-row:nth-child(2) {
  font-size: 24px;
  letter-spacing: 6px;
  justify-content: center;
}

.thanks {
  width: 100%;
  color: #b28096;
  font-size: 60px;
  font-weight: bold;
}

#acc-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.form-cell {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 8px;
  margin: 8px;
}

.bar-divider {
  border-top: 2px solid #DDD;
  margin: 12px;
}

#commentary-form {
  width: 100%;
}

.commentary-box {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  border-radius: 6px;
  outline: none;
  resize: none;
  background-color: #EEE;
  padding: 8px;
  font-size: 18px;
}

.admin-queue {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #888;
  border-radius: 6px;
  height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 8px;
  box-sizing: border-box;
}

.admin-queue .form-row, .admin-queue .form-cell{
  margin: 0px;
  padding: 0px;
}

.reviews {
  width: 100%;
  outline: none;
  border: none;
  max-height: 200px;
}

blockquote {
  border-radius: 6px;
  background: #EEE;
  border-left: 8px solid #ccc;
  padding: 8px;
  margin: 6px;
  flex-grow: 1;
  quotes: "\201C""\201D""\2018""\2019";
}
